doctype html
html
  head
    //- link(rel="stylesheet" type="text/css" href="${require('../style/main.css')})
    //- /*style.*/
    //-   /*#{require('../style/main.css')}*/
    //- link(rel="stylesheet" href=require("../style/main.css"))
    //- link(href=require("../style/style.css"))
    //- each css in htmlWebpackPlugin.files.css
      
      //- link(href=css, rel='preload', as='style', onload=`this.rel='stylesheet'`)
      //- noscript
        //- link(href=css, rel='stylesheet')
    link(rel="stylesheet" href="./main.css")
    script(src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js" )
    script.
      var config = {
        apiKey: "AIzaSyBxy23E579b2PC48SQZpMbJtBsK9gsUPbs",
        authDomain: "todo-47c04.firebaseapp.com",
        databaseURL: "https://todo-47c04.firebaseio.com",
        projectId: "todo-47c04",
        storageBucket: "todo-47c04.appspot.com",
        messagingSenderId: "112475226816"
      };
      firebase.initializeApp(config);

    title= title


  body(class="hide")
    block content
